Repository fe-oct23-fsociety/FE_product_catalog, pull requests merged in 2024-01, with the labels that each got.

#6 added prettier
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc
  README.md
  package-lock.json
  package.json
  public/index.html
  src/index.css
  src/react-app-env.d.ts
  tsconfig.json
Labels: step_1, phones page, mvp

#8 Bug/ESLint
  .eslintrc.json
  build/static/js/main.d1c2d1e3.js.map
  package-lock.json
  package.json
Labels: bug, step_1, phones page

#10 8693k5eft/Infrastructure/husky part
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
  src/App.test.tsx
Labels: step_1, phones page, mvp

#14 8693k5edp/UI/add router with phones page
  build/asset-manifest.json
  build/index.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/phones/phones.tsx
  src/index.tsx
Labels: step_1, phones page, mvp

#19 [UI]: Card layout #8693k5e9r
  package-lock.json
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
  src/components/Card/index.ts
  src/components/PhonesPageGrid/PhonesPageGrid.tsx
  src/components/PhonesPageGrid/card.scss
  src/components/phones/phones.tsx
  src/fonts/Mont/Mont-Bold.woff
  src/fonts/Mont/Mont-Bold.woff2
  src/fonts/Mont/Mont-Regular.woff
  src/fonts/Mont/Mont-Regular.woff2
  src/images/iPhone.png
  src/images/icons/heart.svg
  src/index.css
  src/styles/fonts.scss
  src/styles/mixins.scss
  src/styles/normalize.scss
  src/styles/variables.scss
  tsconfig.json
Labels: step_1, phones page, mvp

#21 [UI]: Footer adaptive layout #8693k5e88
  src/App.tsx
  src/components/BtnSquare/BtnSquare.module.scss
  src/components/BtnSquare/BtnSquare.tsx
  src/components/BtnSquare/index.ts
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/images/icons/arrow-top.svg
  src/images/logo/Logo.png
Labels: step_1, phones page, mvp

#33 [UI]: Pagination logic and adaprive layout #8693k5eg6
  package-lock.json
  package.json
  src/components/BtnSquare/BtnSquare.module.scss
  src/components/BtnSquare/BtnSquare.tsx
  src/components/CartCard/CartCard.scss
  src/components/CartList/CartList.scss
  src/components/CartPay/CartPay.scss
  src/components/Footer/Footer.module.scss
  src/components/PhonesPageGrid/PhonesPageGrid.tsx
  src/components/ShopCart/ShopCart.scss
  src/components/phones/Pagination.module.scss
  src/components/phones/phones.tsx
  src/images/icons/arrow-left.svg
  src/images/icons/arrow-right.svg
  src/styles/contentContainer.scss
Labels: step_1, phones page, mvp

#47 UI/redirect to the product page
  package-lock.json
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
  src/components/CartCard/CartCard.tsx
Labels: phones page, step_3

#59 [UI]: Home page route and layout
  src/components/Card/Card.module.scss
  src/components/HomePage/HomePage.module.scss
  src/components/HomePage/HomePage.tsx
  src/components/ProductsPage/ProductsPage.tsx
  src/images/Banner-mobile.png
  src/images/Banner-tablets.png
  src/images/Banner.png
  src/images/accessories-category.png
  src/images/phone-category.png
  src/images/tablets-category.png
  src/index.tsx
  src/styles/contentContainer.scss
  src/styles/mixins.scss
  src/styles/normalize.scss
  src/styles/variables.scss
Labels: home page, step_4

#61 home page fix
  src/components/Card/Card.module.scss
  src/components/HomePage/HomePage.module.scss
  src/components/HomePage/HomePage.tsx
  src/styles/mixins.scss
Labels: bug, home page, step_4

#78 added change_color/size_functionality
  package-lock.json
  src/components/BtnRound/BtnRound.module.scss
  src/components/BtnRound/BtnRound.tsx
  src/components/ProductDetail/ProducDetail.tsx
  src/components/ProductShowcase/ProductShowcase.module.scss
  src/components/ProductShowcase/ProductShowcase.tsx
  src/utils/helpers.ts
Labels: step_3, product page

#86 added breadCrums for cart page
  src/App.tsx
  src/components/ShopCart/ShopCart.scss
Labels: bug
